apiVersion: v1
kind: Service
metadata:
  name: java-hw-service
  namespace: javahw
  labels:
    app: java-hw
spec:
  selector:
    app: java-hw
  ports:
  - name: h
    protocol: TCP
    port: 7000
    targetPort: 7000
    nodePort: 7000
  type: NodePort
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-hw-deploy
  namespace: javahw
  labels:
    app: java-hw
    framework: java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-hw
  template:
    metadata:
      labels:
        app: java-hw
        framework: java
    spec:
      containers:
      - name: java-helloworld
        image: docker.io/aslabs/java-helloworld:latest
        ports:
        - containerPort: 7000
